In [2]:
import pandas as pd
import warnings 
warnings.filterwarnings("ignore")

In [3]:
dataset=pd.read_csv("Social_Network_Ads.csv")

In [4]:
dataset

      User ID  Gender  Age  EstimatedSalary  Purchased
0    15624510    Male   19            19000          0
1    15810944    Male   35            20000          0
2    15668575  Female   26            43000          0
3    15603246  Female   27            57000          0
4    15804002    Male   19            76000          0
..        ...     ...  ...              ...        ...
395  15691863  Female   46            41000          1
396  15706071    Male   51            23000          1
397  15654296  Female   50            20000          1
398  15755018    Male   36            33000          0
399  15594041  Female   49            36000          1

[400 rows x 5 columns]

In [6]:
dataset=pd.get_dummies(dataset,dtype=int,drop_first=True)

In [7]:
dataset

      User ID  Age  EstimatedSalary  Purchased  Gender_Male
0    15624510   19            19000          0            1
1    15810944   35            20000          0            1
2    15668575   26            43000          0            0
3    15603246   27            57000          0            0
4    15804002   19            76000          0            1
..        ...  ...              ...        ...          ...
395  15691863   46            41000          1            0
396  15706071   51            23000          1            1
397  15654296   50            20000          1            0
398  15755018   36            33000          0            1
399  15594041   49            36000          1            0

[400 rows x 5 columns]

In [8]:
independent=dataset[['Age','EstimatedSalary','Gender_Male']]
dependent=dataset['Purchased']

In [9]:
independent.shape

(400, 3)

In [10]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(independent, dependent, test_size = 0.30, random_state = 0)

In [13]:
from sklearn.svm import SVC
classifier=SVC(kernel='rbf',random_state=0)
classifier=classifier.fit(X_train,y_train)

In [14]:
y_pred=classifier.predict(X_test)

In [15]:
from sklearn.metrics import confusion_matrix
cm=confusion_matrix(y_test,y_pred)

In [16]:
print(cm)

[[77  2]
 [23 18]]

In [17]:

from sklearn.metrics import classification_report
clf_report = classification_report(y_test,y_pred)

In [19]:

age_input=float(input("Enter the age:"))
salary_input=float(input("Enter the salary"))
sex_male_input=int(input("If male 1 or 0:"))

Enter the age: 32
Enter the salary 12365
If male 1 or 0: 56

In [20]:
classifier.predict([[age_input,salary_input,sex_male_input]])

array([0], dtype=int64)

In [21]:
print(clf_report)

              precision    recall  f1-score   support

           0       0.77      0.97      0.86        79
           1       0.90      0.44      0.59        41

    accuracy                           0.79       120
   macro avg       0.83      0.71      0.73       120
weighted avg       0.81      0.79      0.77       120